/* ################################## TAG SELECTOR ################################## */
body {
    background-color: beige;
} 

hr {
    /* border-style: dotted none none none; */
    background-color: transparent;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;

    width: 8%;
}

h1, h2, h3, h4, h5, h6, p {
    color: rgb(35, 0, 116);
}

img {
    border: 4px solid;
    padding: 60px 30px 20px 60px;
    /* border: 10px; */
    /* border-width: 50; */
    border-color: darkblue;
    /* padding: 50; */
    
}


/* ##### pesudoclass ##### select element */
img:hover {
    /* border: 10px; */
    border-radius: 30px;
}

/* ################################## CLASS SELECTORs ################################## */


.container-1 {
    background-color: rgb(212, 255, 241);
}

.container-2 {

}

.container-3 {
    background-color: antiquewhite;
}

.container-4 {
    background-color: grey;
    border: 4px solid;
    border-color: black;
    height: 300px;
    width: 300px;
}


.cat {
    border: 10px;
    border-radius: 20px;
}

.light_blue_square {
    background-color: lightblue;
    width: 100px;
    height: 100px;

}

.light_red_square {
    background-color: lightcoral;
    width: 100px;
    height: 100px;
}

.dark_green_square {
    background-color: darkgreen;
    width: 100px;
    height: 100px;
}

.dark_red_square {
    background-color: darkred;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    /* margin: 100px 0px 0px 0px; */
}

.dark_blue_square {
    background-color: darkblue;
    width: 100px;
    height: 100px;
    margin-left: 200px;
}

/* ################################## ID SELECTORs ################################## */
/* difference between class and id is that one html page can only have one instance of an id. 
    classes are used for grouping */
#useless-sentence {
    color: brown;
}


